{% extends "PlaygroundBundle::base.html.twig" %}
{% block body %}


<a href="{{ path('playground-hrv-table') }}">HRV Table</a>
<br>
<a href="{{ path('playground-sunrise') }}">Sunrise graph</a>
<br>
<a href="{{ path('playground-ui-circle-progress') }}">CSS UI Circle Progress</a>
<br>
<a href="{{ path('playground-calendarHeatmap') }}">Calendar Heatmap</a>
<br>


{% endblock %}